{% extends '../layout.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    {% block content %}

        <h1>Inscription</h1>

        {# Affichage formulaire #}
        {{ form(form) }}

        {# Affichage message flash notice #}
        {% for message in app.flashes('notice') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}

        {# Affichage message flash success #}
        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}

    {% endblock %}

{% endblock %}

