{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %}
    Register
{% endblock %}


{% block content %}
    <div class="container ">
        <div class="row">
            <div class="col-lg-5 features_col">
                <h2>Inscription</h2>

                {# Affichage message flash notice #}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {# Affichage message flash success #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

