.pt-120 {
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}
.p-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
#room-list div.card {
    width: 15rem;
}
/*Position radios and checkboxes more better*/
input[type="radio"],
input[type="checkbox"] {
    margin-top: 0.6em;
    margin-left: 0;
}