{% extends 'admin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}
    Home
{% endblock %}

{% block main_content %}

    <div class="container ">
        <div class="row">
            {# Affichage formulaire #}
            <div class="col-lg-12 features_col">
                <h1>Administration DreamTeamCoWorking</h1>

                {# Affichage message flash success #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            {# uniquement l'admin peut créer des compte#}
            {% if (is_granted('ROLE_ADMIN')) %}
                <a class="btn btn-primary" href="{{ path('admin_employee_new') }}">Create account</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

