<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>