<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row footer_content d-flex flex-sm-row flex-column align-items-center">
            <div class="col-sm-6 cr text-sm-left text-center">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
            <div class="col-sm-6 text-sm-right text-center">
                <div class="footer_social_container">
                    <ul class="footer_social">
                        <li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>