<!-- Header -->

<header class="header d-flex flex-row justify-content-end align-items-center">

    <!-- Logo -->
    <div class="logo_container mr-auto">
        <div class="logo">
            <a href="#"><span>D</span>DreamTeamCoworking<span>.</span></a>
        </div>
    </div>
    {% include 'components/_nav.html.twig' %}



</header>