<!-- Main Navigation -->
<nav class="main_nav justify-self-end">
    <ul class="nav_items">
        <li class="active"><a href="#"><span>home</span></a></li>
        <li><a href="services.html"><span>services</span></a></li>
        <li><a href="elements.html"><span>elements</span></a></li>
        <li><a href="blog.html"><span>blog</span></a></li>
        <li><a href="contact.html"><span>contact</span></a></li>
    </ul>
</nav>

<!-- Hamburger -->
<div class="hamburger_container">
    <span class="hamburger_text">Menu</span>
    <span class="hamburger_icon"></span>
</div>